body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color:rgb(0, 0, 0);
    width: 30px;
    height: 30px;
}
.box {
    background-color: #3d20e1;
    border: 5px solid #4f7ca9;
    padding: 10px;
    margin: 20px;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#two {
    margin: 20px;
    background-color: green;
}
#three {
    margin: 20px;
    background-color: red;
}
#four {
    margin: 20px;
    background-color: yellow;
}
#five {
    margin: 20px;
    background-color: purple;
}